# STATISTICS FINAL EXAM

**TOTAL MARKS:70**                                              	                                     

**DURATION: 3 HOURS**

### Three datasets are combined in a single CSV file. 

### Description of the datasets: 


#### Online_Streaming:
Online_Streaming contains information about 

    #### Age
    #### Preference



#### Admission dataset :     
The data set consists of complete educational details of students right from their schooling to MBA and previous work experience.

    #### SlNo 
    #### Gender
    #### Percent_SSC    
    #### Board_SSC   
    #### Percent_HSC   
    #### Board_HSC    
    #### Stream_HSC   
    #### Percent_Degree   
    #### Course_Degree   
    #### Experience_Yrs    
    #### Entrance_Test    
    #### Percentile_ET    
    #### Percent_MBA    
    #### Specialization_MBA    
    #### Marks_Communication    
    #### Marks_Projectwork    
    #### Marks_BOCA    
    #### Placement    
    #### Salary

    
#### Outlet Sales :
Outlet Sales' contains information about,

    #### Item_Identifier
    #### Item_Weight
    #### Item_Fat_Content
    #### Item_Visibility
    #### Item_Type
    #### Item_MRP
    #### Outlet_Identifier
    #### Outlet_Establishment_Year
    #### Outlet_Size
    #### Outlet_Location_Type
    #### Outlet_Type
    #### Item_Outlet_Sales

## Kindly change the below cells from markdown to code and execute it

In [1]:
import numpy as np
import scipy.stats as stats

In [2]:
import pandas as pd

import pandas as pd
import csv
with open("Final.csv","r")as file:
    reader=csv.reader(file)
data=pd.read_csv("Final.csv")
data.head()

,Age,Preference,SlNo,Gender,Percent_SSC,Board_SSC,Percent_HSC,Board_HSC,Stream_HSC,Percent_Degree,...,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,Teen,Yes,1.0,M,62.00,Others,88.00,Others,Commerce,52.00,...,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,Teen,Yes,2.0,M,76.33,ICSE,75.33,Others,Science,75.48,...,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,Teen,Yes,3.0,M,72.00,Others,78.00,Others,Commerce,66.63,...,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,Teen,Yes,4.0,M,60.00,CBSE,63.00,CBSE,Arts,58.00,...,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,Teen,Yes,5.0,M,61.00,CBSE,55.00,ISC,Science,54.00,...,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
Online = data.iloc[:99,:2]
Online.head()

    Age Preference
0  Teen        Yes
1  Teen        Yes
2  Teen        Yes
3  Teen        Yes
4  Teen        Yes

In [4]:
Admission = data.iloc[:391,2:21]
Admission.head()

,SlNo,Gender,Percent_SSC,Board_SSC,Percent_HSC,Board_HSC,Stream_HSC,Percent_Degree,Course_Degree,Experience_Yrs,Entrance_Test,Percentile_ET,Percent_MBA,Specialization_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA,Placement,Salary
0,1.0,M,62.00,Others,88.00,Others,Commerce,52.00,Science,0.0,MAT,55.0,58.80,Marketing & HR,50.0,65.0,74.0,Placed,270000.0
1,2.0,M,76.33,ICSE,75.33,Others,Science,75.48,Computer Applications,1.0,MAT,86.5,66.28,Marketing & Finance,69.0,70.0,75.0,Placed,200000.0
2,3.0,M,72.00,Others,78.00,Others,Commerce,66.63,Engineering,0.0,NaN,0.0,52.91,Marketing & Finance,50.0,61.0,59.0,Placed,240000.0
3,4.0,M,60.00,CBSE,63.00,CBSE,Arts,58.00,Management,0.0,MAT,75.0,57.80,Marketing & Finance,54.0,66.0,62.0,Placed,250000.0
4,5.0,M,61.00,CBSE,55.00,ISC,Science,54.00,Engineering,1.0,MAT,66.0,59.43,Marketing & HR,52.0,65.0,67.0,Placed,180000.0

In [5]:
Outlet = data.iloc[:,21:]
Outlet.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# SECTION A: 20 MARKS

_________________

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;">1. A principal at a school claims that the students in his school are above average intelligence. A random sample of 45 students scores have been taken and observed mean intelligence score is 68. Is there sufficient evidence to support the principal claim as a significance level of 0.025 that the mean intelligence score is 59 with a standard deviation of 9. Assume scores are normally distributed.

A.Frame Null and Alternate Hypothesis. ( 1 Mark)

B.State which test to be performed.  (1 Mark)

C.Find the test statistic.  (2 Marks)

D.Interpret the results.  (1 Mark)

In [6]:
# H0: myu = 59
# H1: myu != 59

# Assume data is normally distributed

# We perform one sample ztest since sample size > 30

n = 45
x_bar = 68
myu = 59
sigma = 9

alpha = 0.025

# calculate test statistic

se = sigma/np.sqrt(n)

z_stat = (x_bar - myu)/se
z_stat

6.708203932499369

In [7]:
# pvalue 

pvalue = stats.norm.sf(z_stat)*2 
pvalue

1.970344471179895e-11

In [8]:
pvalue < 0.025

True

In [80]:
# since pvalue < alpha , we reject H0
# We conclude that the mean intelligence score is not equal to 59 with a standard deviation of 9.

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;">2 .	It is very important to fill vehicle tyres with right pressure. Too much or too less pressure will result in lower performance or shorter life. The right amount of pressure is set at 16 psi. A random check of 8 tyres at a service station has resulted in following values. Do we have evidence to believe the that the observed tyre pressure is significantly different from 16? Assume data is normally distributed. 

**Observed Tyre Pressure (psi):	16.02	16.22	15.82	15.92	16.22	16.32	16.12	15.92**
    
A.Frame Null and Alternate Hypothesis. ( 1 Mark)

B.State which test to be performed.  (1 Mark)

C.Find the test statistic.  (2 Marks)

D.Interpret the results.  (1 Mark)

In [81]:
# H0: myu = 16
# H1: myu != 16

# We perform one sample ttest since sample size < 30

alpha = 0.05

# We check if data is normal

tyre_pressure = np.array([16.02, 16.22, 15.82, 15.92, 16.22, 16.32, 16.12 ,15.92])

stats.shapiro(tyre_pressure)

ShapiroResult(statistic=0.9435174465179443, pvalue=0.6459853649139404)

In [82]:
# pvalue > 0.05 , we conclude that the sample comes from a normal population dist

# test statistic

stats.ttest_1samp(tyre_pressure,popmean = 16)

Ttest_1sampResult(statistic=1.1168136493044576, pvalue=0.30093607677048567)

In [83]:
# since pvalue > alpha , we fail to reject H0
# We conclude that the observed tyre pressure is equal to 16

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;">3. Now a days the online streaming services like Netflix, Amazon prime, is playing dominant role in the entertainment industry.  A public opinion poll surveyed on whether these online streaming services are better than cinema halls? On a sample of 100 random people (classified as teen/Adults/Senior Citizen) with a closed ended question (Yes or No). The details are captured. From the data ,identify the association between age category and voting preference? (Use level of significance as 5%). Use the dataframe "Online". 

A.Frame Null and Alternate Hypothesis. ( 1 Mark)

B.State which test to be performed.  (1 Mark)

C.Perform the test. (2 marks)

D.Interpret the results.  (1 Mark)

In [84]:
# H0: There is no assocation between age category and voting preference
# H1: There is an association between age category and voting preference

# We perform chi square test of association

alpha = 0.05

# get the observed values in a contingency table

ct = pd.crosstab(Online['Age'],Online['Preference'])
ct

Preference      No  Yes
Age
Adult           17   13
Senior Citizen  15   12
Teen            10   32

In [85]:
# since all expected and observed values are greater than 5 our assumption is satisfied

In [86]:
stats.chi2_contingency(ct.values)

(10.355477980665949,
 0.005640745787809177,
 2,
 array([[12.72727273, 17.27272727],
        [11.45454545, 15.54545455],
        [17.81818182, 24.18181818]]))

In [87]:
# since pvalue < alpha , we reject H0
# We conclude that there is an association between age category and voting preference

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;"> 4. In a survey, 200 people were asked to identify their major source of news information. 110 stated that their major source was television news.
    
i. Construct a 95% confidence interval for the proportion of people in the population who consider television their major source of news information.(2 marks) 

ii. How large a sample would be necessary to estimate the population proportion with a margin of error of .05 at 95% confidence? (3 marks)

In [88]:
#i) Construct a 95% confidence interval for the proportion of people in the population 
# who consider television their major source of news information.(2 marks)

p_samp = 110/200

n = 200

se = np.sqrt(p_samp*(1 - p_samp)/n)

stats.norm.interval(0.95, loc = p_samp, scale = se)

(0.4810521552867026, 0.6189478447132974)

In [89]:
# ii. How large a sample would be necessary to estimate the population proportion with a 
# margin of error of .05 at 95% confidence? (3 marks)

moe = 0.05

p_samp = 110/200

alpha = 0.05

# moe = z_alpha_by_2 * se
# moe = z_alpha_by_2 * np.sqrt(p_samp*(1 - p_samp)/n)
#(p_samp*(1 - p_samp)/n) = (moe/z_alpha_by_2)**2

z_alpha_by_2 = stats.norm.isf(alpha/2)

se = np.sqrt(p_samp*(1 - p_samp)/n)

n = (p_samp*(1 - p_samp))/((moe/z_alpha_by_2)**2)
n

380.30442324871854

_________________

# SECTION B: 20 MARKS

_________________

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;"> 5.The manufacturers of compact disk players want to test whether a small price reduction is enough to increase sales of their product. Is there evidence that the small price reduction is enough to increase sales of compact disk players?


| Before reduction||After reduction  ||
| ------|  ------ |--------------|-----------------|
| n1=	|15| 	n2 =| 12|
| Average sales_ before=|Rs. 6598 ( in lakhs)  |Average sales _ after =| RS. 6870( in lakhs)|
| s1=|Rs. 844( in lakhs)|     s2=| Rs. 669( in lakhs)|
    
i) Create the Hypothesis (2 marks)

ii) Determine the Statistical Test and give the reason for the selection of the test.(1 mark)

iii) Find the test statistics and pvalue.(6 marks)

iv) Interpret the Results(1 mark)

**Note: Assume data is normally distributed and have equal variance.**

In [90]:
# H0:  Average sales after the price reduction is less than or equal to the average sales before the price reduction
#            myu_after <= myu_before 

# H1: Average sales after the price reduction is greater than the average sales before the price reduction
#             myu_after > myu_before 

# We perform a two sample independent ttest (since sample size < 30 in both samples)

alpha = 0.05

# We Assume data is normally distributed and have equal variance.

n1 = 15
n2 = 12
xbar_before = 6598 
xbar_after = 6870

s1 = 844
s2 = 669

s = np.sqrt( ( (n1 - 1)*(s1**2) + (n2 - 1)*(s2**2) ) / (n1+n2-2) )

se = s*np.sqrt( (1/n1) + (1/n2) )

t_stat = ((xbar_after - xbar_before) - 0)/se
t_stat

0.9098300343990459

In [91]:
# pvalue

stats.t.sf(t_stat, df = (n1+n2-2))

0.1858005025592589

In [92]:
# since pvalue > alpha , we fail to reject H0
# We conclude that average sales after the price reduction is less than or equal to the average sales before the price reduction

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;"> 6.	Multiple myeloma or blood plasma cancer is characterised by increased  blood vessel formulation (angiogenesis) in the bone marrow. One treatment approach used for multiple myeloma is stem cell transplantation with the patient’s own stem cells. The data given below represents the bone marrow micro vessel density for patients who had a complete response to the stem cell transplant (as measured by blood test). The measurements were taken before and after the transplant.

|Patient|Before|After|
|--|--|--|
|1|158|284|
|2|189|214|
|3|202|101|
|4|353|227|
|5|416|290|
|6|426|176|
|7|441|290|


a.	At the 0.05 level of significance, is there evidence that the mean bone marrow micro vessel density has decreased after the stem cell transplant? Interpret the test statistic and p-value from the result. (7 MARKS)

c.	Construct and interpret the 95% confidence interval estimation of the mean difference in bone marrow micro vessel density before and after stem cell transplant. (3 MARKS)
    
**Note: Assume data is normally distributed and have equal variance.**

In [97]:
# a )

# We define myu_d as the mean of the resultant array from (density_after - density_before)

#H0: The mean bone marrow micro vessel density has increased or remained constant after the stem cell transplant
#                myu_d >= 0
#H1: The mean bone marrow micro vessel density has decreased after the stem cell transplant
#                myu_d < 0
    
# alpha = 0.05


before = np.array([158,189,202,353,416,426,441])

after = np.array([284,214,101,227,290,176,290])

x_bar = (after - before).mean()

n = len(before)

se = ((after - before).std(ddof = 1))/np.sqrt(n)

# test statistic

stats.ttest_rel(after, before, alternative = 'less')

Ttest_relResult(statistic=-1.8424550291027728, pvalue=0.05749313343592854)

In [98]:
# since pvalue > alpha , we fail to reject H0
# we conclude that mean bone marrow micro vessel density has increased or remained constant after the stem cell transplant

In [101]:
x_bar

-86.14285714285714

In [100]:
stats.t.interval(0.95, loc = x_bar, scale = se, df = n-1)

(-200.54672291008427, 28.261008624369993)

_________________

# SECTION C: 30 MARKS

_________________

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;"> 7. The data set consists of complete educational details of students right from their schooling to MBA and previous work experience. Salary is the target variable.Use the dataframe "Admission".
   

Perform the following tasks on the data :

i. List out the features( numerical and categorical) ?  (2 Marks )

ii. Frame Null and Alternate Hypothesis and perform the required statistical tests between any 4 categorical features.(8 marks)


iii. Is there any influence of gender on the Salary received ?Frame the hypothesis and perform the test. (3 Marks)

iv. Interpret all the above test results. (2 Marks)


**Note: Assume all continuous columns are normally distributed and have equal variance.**

In [35]:
# i)

numerical_features = Admission.select_dtypes(include = np.number)
numerical_features.columns

Index(['SlNo', 'Percent_SSC', 'Percent_HSC', 'Percent_Degree',
       'Experience_Yrs', 'Percentile_ET', 'Percent_MBA', 'Marks_Communication',
       'Marks_Projectwork', 'Marks_BOCA', 'Salary'],
      dtype='object')

In [37]:
categorical_features = Admission.select_dtypes(include = 'object')
categorical_features.columns

Index(['Gender', 'Board_SSC', 'Board_HSC', 'Stream_HSC', 'Course_Degree',
       'Entrance_Test', 'Specialization_MBA', 'Placement'],
      dtype='object')

In [ ]:
# ii. Frame Null and Alternate Hypothesis and perform the required statistical tests between any 4 categorical features.(8 marks)

In [41]:
# iii. Is there any influence of gender on the Salary received ?Frame the hypothesis and perform the test. (3 Marks)

# H0: Average Salary is equal for both genders
#        myu1 = myu2

# H1: Average Salary is not equal for both genders
#        myu1 != myu2


# We assume data is normal and has equal var

alpha = 0.05

# We can perform 2 sample independent ttest

salary_male = Admission[Admission['Gender']== 'M']['Salary']
salary_female = Admission[Admission['Gender']== 'F']['Salary']


stats.ttest_ind(salary_male,salary_female)

Ttest_indResult(statistic=2.57570858963061, pvalue=0.010371783657249766)

In [ ]:
# since pvalue < alpha , we reject H0
# we conclude that Average Salary is not equal for both genders
# Gender has an effect on salary

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;"> 8.   Give the answers for the following hypothesis. Use the dataframe "Outlet".

a.	Does Item fat content have any effect on item outlet sales?  ( 3 Marks )  

b.	Does outlet establishment year have any effect on item outlet sales? ( 3 Marks )

c.	Does item mrp have any effect on item outlet sales? ( 3 Marks )

d.	Does item visibility have any effect on item outlet sales? ( 3 Marks )

e.	Does item weight have any effect on item outlet sales?.(Drop the null values in the item weight) 
(3 Marks )

**Note: Assume all the continuous columns are normally distributed and have equal variance.**

In [43]:
# Does Item fat content have any effect on item outlet sales?

Outlet['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [48]:
# H0: The means of item outlet sales are equal for both groups of item fat content
#            myu1 = myu2 

# H1: The means of item outlet sales are not equal for both groups of item fat content
#            myu1 != myu2 


alpha = 0.05

# We assume all data is normal and has equal variance 

# We perform independent two sample ttest

x1 = Outlet[Outlet['Item_Fat_Content'] == 'Low Fat']['Item_Outlet_Sales']
x2 = Outlet[Outlet['Item_Fat_Content'] == 'Regular']['Item_Outlet_Sales']

stats.ttest_ind(x1,x2)

Ttest_indResult(statistic=-0.9957231423832787, pvalue=0.3196270097113921)

In [ ]:
# since pvalue > alpha , we fail to reject H0
# The means of item outlet sales are equal for both groups of item fat content
# Item fat content does not have any effect on item outlet sales?

In [57]:
# b. Does outlet establishment year have any effect on item outlet sales? ( 3 Marks )

# H0: Means are equal for all groups

# H1: At least one of the group means are unequal.

# Assume data is normal and equal variance

# We perform anova

x1 = Outlet[Outlet['Outlet_Establishment_Year'] == 1985]['Item_Outlet_Sales']
x2 = Outlet[Outlet['Outlet_Establishment_Year'] == 1987]['Item_Outlet_Sales']
x3 = Outlet[Outlet['Outlet_Establishment_Year'] == 1997]['Item_Outlet_Sales']
x4 = Outlet[Outlet['Outlet_Establishment_Year'] == 1998]['Item_Outlet_Sales']
x5 = Outlet[Outlet['Outlet_Establishment_Year'] == 1999]['Item_Outlet_Sales']
x6 = Outlet[Outlet['Outlet_Establishment_Year'] == 2002]['Item_Outlet_Sales']
x7 = Outlet[Outlet['Outlet_Establishment_Year'] == 2004]['Item_Outlet_Sales']
x8 = Outlet[Outlet['Outlet_Establishment_Year'] == 2007]['Item_Outlet_Sales']
x9 = Outlet[Outlet['Outlet_Establishment_Year'] == 2009]['Item_Outlet_Sales']

In [58]:
stats.f_oneway(x1,x2,x3,x4,x5,x6,x7,x8,x9)

F_onewayResult(statistic=11.511233526468702, pvalue=1.0245929453122375e-15)

In [ ]:
# pvalue < alpha , we reject H0
# We infer that outlet establishment year has an effect on item outlet sales

In [52]:
Outlet['Outlet_Establishment_Year'].value_counts().sort_index()

1985    185
1987    115
1997    116
1998     63
1999     95
2002    120
2004    106
2007    100
2009     96
Name: Outlet_Establishment_Year, dtype: int64

In [60]:
# c. Does item mrp have any effect on item outlet sales? ( 3 Marks )

# H0: The correlation coefficient is not signifcantly different from zero
# H1 : The correlation coefficient is signifcantly different from zero

# alpha = 0.05

# Assume data is normal and and equal variance

stats.pearsonr(Outlet['Item_MRP'],Outlet['Item_Outlet_Sales'])

(0.5787814296566315, 3.855073937217271e-90)

In [ ]:
# pvalue < alpha , we reject H0 
# There is a positive linear correlation between item mrp and item outlet sales

In [ ]:
# d. Does item visibility have any effect on item outlet sales? ( 3 Marks )

In [63]:
# c. Does item mrp have any effect on item outlet sales? ( 3 Marks )

# H0: The correlation coefficient is not signifcantly different from zero
# H1 : The correlation coefficient is signifcantly different from zero


# alpha = 0.05

# Assume data is normal and and equal variance

stats.pearsonr(Outlet['Item_Visibility'],Outlet['Item_Outlet_Sales'])

(-0.09329572831756384, 0.0032077360508418282)

In [ ]:
# pvalue < alpha , we reject H0
# The correlation coefficient is signifcantly different from zero
# indicating that there is a negative linear correlation

In [68]:
# e. Does item weight have any effect on item outlet sales?.(Drop the null values in the item weight) 


# H0: The correlation coefficient is not signifcantly different from zero
# H1 : The correlation coefficient is signifcantly different from zero


# alpha = 0.05

# Assume data is normal and and equal variance

# checking for % of null values

Outlet['Item_Weight'].isnull().sum()/len(Outlet)

0.1857429718875502

In [70]:
# filling null values with mean

Outlet['Item_Weight'].fillna(Outlet['Item_Weight'].mean(), inplace = True)

In [71]:
stats.pearsonr(Outlet['Item_Weight'],Outlet['Item_Outlet_Sales'])

(0.016423558533484373, 0.6046656413170555)

In [ ]:
# since pvalue > alpha , we fail to reject H0
# H0: The correlation coefficient is not signifcantly different from zero

In [64]:
Outlet.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350